{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}Welcome{% endblock %}

{% block nav %}{% endblock %}

{% block precontent %}
<div id="welcome-header">
    <div class="container">
        <img src="{% static 'images/insekta-glowing.png' %}" alt="" class="pull-left" style="margin-right:10px;">
        <h1>{% trans 'Welcome to Insekta' %}</h1>
        {% url 'account:register' as register_url %}
        {% blocktrans %}<p>Want to learn something about IT security? <a href="{{ register_url }}">register for an account</a>.</p>{% endblocktrans %}
        <form class="navbar-form" action="{% url 'account:login' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="username" placeholder="{% trans 'Username' %}" class="form-control">
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="{% trans 'Password' %}" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">{% trans 'Sign in' %}</button>
        </form>
    </div>
</div>
{% endblock precontent %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <h2>{% trans 'Learn' %}</h2>
        <p>{% blocktrans %}At Insekta you get comprehensible explanations to various topics of IT security. Topics might include visualisations and interactive elements to make understanding easier.{% endblocktrans %}</p>
    </div>
    <div class="col-md-4">
        <h2>{% trans 'Exercise' context "Taking exercises" %}</h2>
        <p>{% blocktrans %}Nearly every topic contains useful exercises you can use to check your knowledge. Ranging from simple multiple choice questions to programming exercises.{% endblocktrans %}</p>
    </div>
    <div class="col-md-4">
        <h2>{% trans 'Get help' %}</h2>
        <p>{% blocktrans %}In case you are stuck with some topic you can always ask for help. Other students who already solved exercises from this topic can help you.{% endblocktrans %}</p>
    </div>
</div>

{% endblock content %}
