{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}Welcome{% endblock %}

{% block nav %}{% endblock %}

{% block precontent %}
<div id="welcome-header">
    <div class="container">
        <img src="{% static 'images/lock.png' %}" alt="" class="pull-left" style="margin-right:10px;">
        <h1>{% trans 'Welcome to Insekta' %}</h1>
        {% blocktrans %}<p>Want to learn something about computer security? Sign in with your <a href="https://mafiasi.de/">mafiasi.de</a> account.</p>{% endblocktrans %}
        <form class="navbar-form" action="{% url 'account:login' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="username" placeholder="{% trans 'Username' %}" class="form-control">
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="{% trans 'Password' %}" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">{% trans 'Sign in' %}</button>
        </form>
    </div>
</div>
{% endblock precontent %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <h2>{% trans 'Learn' %}</h2>
        <p>{% blocktrans %}At Insekta you get comprehensible explainations to various topics of computer security. They come in form of scenarios which cover certain aspects of a topic.{% endblocktrans %}</p>
    </div>
    <div class="col-md-4">
        <h2>{% trans 'Exercise' %}</h2>
        <p>{% blocktrans %}Every scenario contains useful exercises you can use to check your knowledge. Ranging from simple multiple choice questions to programming exercises.{% endblocktrans %}</p>
    </div>
    <div class="col-md-4">
        <h2>{% trans 'Get help' %}</h2>
        <p>{% blocktrans %}In case you are stuck with some scenario you can always ask for help. Other students who already solved the scenario can help you.{% endblocktrans %}</p>
    </div>
</div>

{% endblock content %}
