from .settings_base import *

# Quick-start development settings - unsuitable for production
# See https://docs.djangoproject.com/en/1.8/howto/deployment/checklist/

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = '=*v!v(fz1b*&t861-qbu0p8%n_lspitf%0q0augde)x0+u@wpn'

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = True

ALLOWED_HOSTS = []

# Database
# https://docs.djangoproject.com/en/1.8/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'insekta',
        'USER': 'insekta',
        'PASSWORD': '',
        'HOST': 'localhost',
    }
}


# Internationalization
# https://docs.djangoproject.com/en/1.8/topics/i18n/

LANGUAGE_CODE = 'de-de'

TIME_ZONE = 'Europe/Berlin'


# Static files (CSS, JavaScript, Images)
# https://docs.djangoproject.com/en/1.8/howto/static-files/

STATIC_ROOT = os.path.join(BASE_DIR, '_static')

MEDIA_ROOT = os.path.join(BASE_DIR, '_media')

SCENARIO_DIR = os.path.join(BASE_DIR, 'testenv', 'scenarios')

CA_PRIVATE_KEY_FILE = os.path.join(BASE_DIR, 'testenv', 'vpn', 'ca.key')

CA_CERTIFICATE_FILE = os.path.join(BASE_DIR, 'testenv', 'vpn', 'ca.crt')

VPN_SERVER = {'host': 'localhost', 'port': 1194}

USE_REMOTE_API_DUMMY = True

REMOTE_API_URL = 'http://localhost:8001/api/'

REMOTE_API_AUTH = ('api', 'mypassword')

INVITATION_CODE = 'supergeheim'

SCENARIO_SCRIPT_CLASSES = []