{% load i18n %}
{% load formatuser %}
<table class="table">
<thead>
<tr>
    <th style="width:15em;">{% trans 'Author' %}</th>
    <th>{% trans 'Comment' %}</th>
</tr>
</thead>
<tbody>
{% for comment in comments %}
<tr>
    <td>
        <p>{% format_user comment.author %}</p>
        <p><small>{{ comment.time_created|date:"SHORT_DATETIME_FORMAT" }}</small></p>
    <td class="tex2jax_process">
        {{ comment.text|safe }}
    </td>
</tr>
{% endfor %}
<tr>
    <td>
        <label for="scenario-post-comment-text">{% trans 'Your comment' %}</label>
    </td>
    <td>
        <div class="tex2jax_process" id="scenario-post-comment-preview"></div>

        <form method="post" action="" id="#scenario-post-comment">
            <div class="form-group">
                <textarea id="scenario-post-comment-text" class="form-control" rows="10"></textarea>
            </div>
        </form>
        <p>
            {% trans 'The following HTML is allowed:' %} {{ allowed_markup }}.
            {% trans 'Additionally you can use \( inline math \) or \[ block math \].' %}
        </p>
        <p>
            <button class="btn btn-primary" name="save">{% trans 'Comment' context 'to comment (verb)' %}</button>
            <button class="btn btn-default" name="preview">{% trans 'Preview' %}</button>
        </p>
    </td>
</tr>
</tbody>
</table>
