{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Topics' %}{% endblock %}

{% block content %}
{% if is_challenge %}
<h2>{% trans 'Challenges' %}</h2>

<p class="alert alert-warning">{% blocktrans %}Challenges provide no explanations and are therefore not suitable to learn new topics. Anyway, feel free to try them.{% endblocktrans %}</p>
{% else %}
<h2>{%  trans 'Topics' %}</h2>
{% endif %}

{% include 'scenarios/scenario_groups_list.html' with scenario_groups=scenario_groups is_challenge=is_challenge %}
{% endblock content %}