{% extends 'base.html' %}
{% load i18n %}
{% load scenario_progress %}

{% block title %}{% trans 'Scenarios' %}{% endblock %}

{% block content %}
<h2>{%  trans 'Scenarios' %}</h2>

{% for scenario_group in scenario_groups %}
{% if scenario_group.scenario_list %}
<h3>{{ scenario_group.title }}</h3>

<table class="table table-striped">
<thead>
    <tr>
        <th>{% trans 'Scenario' %}</th>
        <th style="width:200px">{% trans 'Solved exercises' %}</th>
    </tr>
</thead>
<tbody>
{% for scenario in scenario_group.scenario_list %}
<tr>
    <td><a href="{% url 'scenarios:view' scenario.key %}">{{ scenario.title }}</a></td>
    <td>
        {% scenario_progress scenario.tasks_solved scenario.num_tasks %}
        &nbsp;<small>({{ scenario.tasks_solved }}/{{ scenario.num_tasks }})</small>
    </td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}
{% endfor %}

{% endblock content %}