{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Courses' %}{% endblock %}

{% block content %}
<h2>{% trans 'Courses' %}</h2>

{% if courses %}
<div class="list-group">
{% for course in courses %}
    <form method="post" action="{% url 'scenarios:choose_course' course.pk %}">
   {% csrf_token %}
   <button class="list-group-item{% if request.session.course.pk == course.pk %} active{% endif %}">{{ course.title }}</button>
    </form>
{% endfor %}
</div>
{% else %}
<p>{% trans 'There are currently no courses.' %}</p>
{% endif %}

{% endblock %}
