{%  extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{%  block title %}{{ scenario.title }}{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans 'Home' %}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'scenarios:list_courses' %}">{% trans 'Courses' %}</a></li>
    <li class="breadcrumb-item">
        <a href="{% url 'scenarios:view_course' course.key %}">{{ course.title }}</a>
        {% if is_challenge %}<small>({% trans 'Challenges' %})</small>{% endif %}
    </li>
    <li class="breadcrumb-item active">{{ scenario.title }}</li>
</ol>
{% endblock %}

{%  block content %}
<div id="scenario-bar-container">
    <div class="alert-toolbar scenario-bar-absolute" id="scenario-bar">
        <div class="nav nav-pills">
            <a class="nav-item nav-link" href="#top"><i class="fas fa-arrow-up"></i></span></a>
            <a class="nav-item nav-link" id="scenario-notes-link" title="{% trans 'Your notes' %}">{% trans 'Notes' %}</a>
            <a class="nav-item nav-link" href="{% url 'scenariohelp:new_question' course.key scenario.key %}">{% trans 'Ask question' %}</a>
            <a class="nav-item nav-link" href="{% url 'scenariohelp:scenario_questions' course.key scenario.key %}">{% trans 'Questions' %}</a>
            <a class="nav-item nav-link" id="scenario-comments-link">{% trans 'Comments:' %}
                <strong id="scenario-comments-off">{% trans 'off' %}</strong>
                <strong id="scenario-comments-on">{% trans 'on' %}</strong>
            </a>
            <a class="nav-item nav-link" href="{% url 'scenarios:show_options' course.key scenario.key %}">{% trans 'Options' %}</a>
        </div>
    </div>
</div>

<div id="scenario-notes-container" class="popover">
    <div class="popover-title">
        <button class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {% trans 'Your notes' %}
    </div>
    <div class="popover-content">
        <p>
            <textarea style="width:30em;" rows="10">{{ notes }}</textarea>
        </p>
        <p class="scenario-notes-saved">{% trans 'Saved.' %}</p>
    </div>
</div>

<div class="modal fade" id="scenario-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{% trans 'User comments' %}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>

{% if scenario.show_ethics_reminder %}
<p class="alert alert-info blackhat">
{% url 'ethics:view' as ethics_url %}
{% blocktrans %}
This topic contains explanations of attack techniques from a black hat's perspective. We would like to remind you of the <a href="{{ ethics_url }}">hacker ethics</a>.
{% endblocktrans %}
</p>
{% endif %}

<h2>{{ scenario.title }}</h2>

{% if has_vms %}
{% url 'vpn:index' as vpn_url %}
<div class="card mb-3">
    <div class="card-body">
        <div id="vm-panel">

        {% if vms_running %}
        <form method="post" action="{% url 'scenarios:disable_vms' course.key scenario.key %}">
        {% csrf_token %}
        <button class="btn btn-danger" style="float:right;margin-left:2em;">
            {% trans 'Destroy virtual machines' %}
        </button>
        </form>
        {% else %}
        <form method="post" action="{% url 'scenarios:enable_vms' course.key scenario.key %}">
        {% csrf_token %}
        <button class="btn btn-success" style="float:right;margin-left:2em;">
            {% trans 'Start virtual machines' %}
        </button>
        </form>
        {% endif %}
        <p>
            {% if vms_running %}
            {% blocktrans with expire_time=vms_expire_time|time:"TIME_FORMAT" %}Virtual machines are running. If you close this page they will be destroyed automatically at <span id="expire_time">{{ expire_time }}</span>, but you can manually destroy them if you like.{% endblocktrans %}
            {% else %}
            {% blocktrans %}This topic makes use of virtual machines. In order to solve some exercises you might have to start them.{% endblocktrans %}
            {% endif %}

            {% if vpn_running %}
            {% blocktrans %}You are connected the VPN and your IP inside the VPN is {{ vpn_ip }}.{% endblocktrans %}

            {% if vms_running %}
            {% blocktrans %}The virtual machines should be reachable.{% endblocktrans %}
            {% else %}
            {% blocktrans %}The virtual machines should be reachable once they are started.{% endblocktrans %}
            {% endif %}
            {% endif %}
        </p>

        </div>
        <div id="vm-panel-gears">
            <img src="{% static 'images/gears.gif' %}" alt="Working ...">
        </div>
    </div>
</div>

{% if vms_running and not vpn_running %}
{% url 'scenarios:view' scenario.key as this_page_url %}
<p class="alert alert-warning">{% blocktrans %}You are not connected to the <a href="{{ vpn_url }}">VPN</a>, which is required to reach the virtual machines. If you are connected, refresh <a href="{{ this_page_url }}">this page</a>.{% endblocktrans %}</p>
{% endif %}
{% endif %}

<div id="toc"></div>
<div class="tex2jax_process" id="rendered-scenario">{{ rendered_scenario }}</div>
{% if has_solved_all and not is_supporting %}
  <div class="alert alert-success">
      <p>{% trans "Do you want to help others with this topic?" %}</p>
      <form action="{% url 'scenariohelp:set_support_scenario' course.key scenario.key %}" method="post">
          {% csrf_token %}
          <button class="btn btn-success">{% trans "Yes" %}</button>
      </form>
  </div>
{% endif %}
{%  endblock content %}

{% block additional_styles %}
{{ block.super }}
{% for stylesheet in additional_stylesheets %}
    <link href="{{ stylesheet }}" rel="stylesheet">
{% endfor %}
{% endblock %}

{% block additional_scripts %}
{{ block.super }}
    {% include 'base/mathjax.html' %}
    <script type="text/javascript">
    // <![CDATA[
    var PING_URL = {% if vms_running %}"{% url 'scenarios:ping_vms' scenario.key %}"{% else %}null{% endif %};
    var NOTES_SAVE_URL = "{% url 'scenarios:save_notes' scenario.key %}";
    var SAVE_COMMENTS_STATE_URL = "{% url 'scenarios:save_comments_state' %}";
    var PREVIEW_COMMENT_URL = "{% url 'scenarios:preview_comment' %}";
    var SAVE_COMMENT_URL = "{% url 'scenarios:save_comment' scenario.key %}";
    var GET_COMMENTS_URL = "{% url 'scenarios:get_comments' scenario.key %}";
    var USER_COMMENTS_ENABLED = {{ comments_enabled|safe }};
    var NUM_USER_COMMENTS = {{ num_user_comments|safe }};
    // ]]>
    </script>
    <script type="text/javascript" src="{% static 'scenarios/js/scenario.min.js' %}"></script>
{% for script in additional_scripts %}
    <script type="text/javascript" src="{{ script }}"></script>
{% endfor %}
{% endblock %}
