{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% blocktrans with title=course.title %}Course: {{ title }}{% endblocktrans %}{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="{% url 'index' %}">{% trans 'Home' %}</a></li>
    <li><a href="{% url 'scenarios:list_courses' %}">{% trans 'Courses' %}</a></li>
    <li class="active">
        {{ course.title }}
        {% if is_challenge %}<small>({% trans 'Challenges' %})</small>{% endif %}
    </li>
</ol>
{% endblock %}


{% block content %}
<h2>{% blocktrans with title=course.title %}Course: {{ title }}{% endblocktrans %}</h2>

{{ course.description|safe }}

{% if is_challenge %}
<p class="alert alert-warning">{% blocktrans %}Challenges provide no explanations and are therefore not suitable to learn new topics. Anyway, feel free to try them.{% endblocktrans %}</p>
{% endif %}

{% include 'scenarios/scenario_groups_list.html' with scenario_groups=scenario_groups is_challenge=is_challenge %}

{% endblock %}