{%  extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{%  block title %}{{ scenario.title }}{% endblock %}

{%  block content %}
{% if scenario.show_ethics_reminder %}
<p class="alert alert-info blackhat">
{% url 'ethics:view' as ethics_url %}
{% blocktrans %}
This scenario explains attack techniques from a black hat's perspective. We would like to remind you of the <a href="{{ ethics_url }}">hacker ethics</a>.
{% endblocktrans %}
</p>
{% endif %}
<h2>{{ scenario.title }}</h2>
{{ rendered_scenario }}
{%  endblock content %}

{% block additional_styles %}
{{ block.super }}
{% for stylesheet in additional_stylesheets %}
    <link href="{{ stylesheet }}" rel="stylesheet">
{% endfor %}
{% endblock %}

{% block additional_scripts %}
{{ block.super }}
    <script type="text/javascript" src="{% static 'scenarios/js/scenario.js' %}"></script>
{% for script in additional_scripts %}
    <script type="text/javascript" src="{{ script }}"></script>
{% endfor %}
{% endblock %}
