{% load staticfiles %}
{% load i18n %}
{% load scenariohelp %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Insekta security teaching platform">
        <link rel="icon" href="{% static 'images/insekta-32.png' %}">

        <title>{% block title %}{% endblock %} - Insekta</title>

        <link href="{% static 'css/insekta.min.css' %}" rel="stylesheet">
        {% block additional_styles %}{% endblock %}
    </head>

    <body class="tex2jax_ignore">
{% block nav %}
        <nav class="navbar navbar-default" id="top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'index' %}">Insekta</a>
                </div>
                <div id="navbar">
                    <ul class="nav navbar-nav">
                        {% if user.is_authenticated %}
                        <li{% if active_nav == 'courses' %} class="active"{% endif %}>
                            <a href="{% url 'scenarios:list_courses' %}">{% trans 'Courses' %}</a>
                        </li>
                        <li{% if active_nav == 'help' %} class="active"{% endif %}>
                            <a href="{% url 'scenariohelp:index' %}">
                                {% trans 'Help others' %}
                                {% num_new_questions user as num_new %}
                                {% if num_new > 0 %}
                                <span class="badge">{{ num_new }}</span>
                                {% endif %}
                            </a>
                        </li>
                        <li{% if active_nav == 'account' %} class="active"{% endif %}>
                            <a href="{% url 'account:index' %}">{% trans 'Account' %}</a>
                        </li>
                        {% if user.is_staff %}
                        <li><a href="{% url 'admin:index' %}">Admin</a></li>
                        {% endif %}
                        <li><a href="{% url 'account:logout' %}">{% trans 'Logout' %}</a></li>
                        {% else %}
                        <li{% if active_nav == 'login' %} class="active"{% endif %}>
                            <a href="{% url 'account:login' %}">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
{% endblock nav %}
{% block precontent %}{% endblock %}
        <div class="container">
        {% block breadcrumb %}{% endblock %}
        <noscript>
            <p class="alert alert-danger">
            {% trans "Please enable JavaScript. Don't worry, we won't set your CPU on fire with snowflakes on this page." %}
            </p>
        </noscript>

        {% if messages %}
        {% for message in messages %}
        <p class="alert{% if message.tags %} {{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
        {% endif %}

        {% if user.is_authenticated %}
        {% num_new_questions_answered user as num_answered %}
        {% if num_answered %}
        {% url 'scenariohelp:my_questions' as my_questions_url %}
        <p class="alert alert-success">
        {% blocktrans %}<strong>Hooray!</strong> Someone answered one of <a href="{{ my_questions_url }}">your questions</a>.{% endblocktrans %}
        </p>
        {% endif %}
        {% endif %}

{% block content %}{% endblock %}
        </div>
{% block postcontent %}{% endblock %}
    <script type="text/javascript" src="{% static 'js/insekta.min.js' %}"></script>
{% block additional_scripts %}{% endblock %}
    </body>
</html>

