{% load static %}
{% load i18n %}
{% load scenariohelp %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Insekta security teaching platform">
        <link rel="icon" href="{% static 'images/insekta-32.png' %}">

        <title>{% block title %}{% endblock %} - Insekta</title>

        <link href="{% static 'css/insekta.min.css' %}" rel="stylesheet">
        {% block additional_styles %}{% endblock %}
    </head>

    <body class="tex2jax_ignore">
{% block nav %}
        <nav class="navbar navbar-expand-sm navbar-light bg-light mb-4" id="top">
            <div class="container">
                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                    <a class="nav-tiem nav-link{% if active_nav == 'courses' %} active{% endif %}" href="{% url 'scenarios:list_courses' %}">{% trans 'Courses' %}</a>
                    <a class="nav-tiem nav-link{% if active_nav == 'help' %} active{% endif %}" href="{% url 'scenariohelp:index' %}">
                        {% trans 'Help others' %}
                        {% num_new_questions user as num_new %}
                        {% if num_new > 0 %}
                        <span class="badge">{{ num_new }}</span>
                        {% endif %}
                    </a>
                    <a class="nav-item nav-link{% if active_nav == 'account' %} active{% endif %}" href="{% url 'account:index' %}">{% trans 'Account' %}</a>
                    {% if user.is_staff %}
                    <a class="nav-item nav-link" href="{% url 'admin:index' %}">Admin</a>
                    {% endif %}
                    <!--<a class="nav-item nav-link" href="{% url 'account:logout' %}">{% trans 'Logout' %}</a> -->
                    <li class="nav-item">
                        <form method="post" action="{% url 'account:logout' %}">
                            {% csrf_token %}
                            <button class="nav-link btn btn-link" type="submit">
                                Logout
                            </button>
                        </form>
                    </li>
                    {% else %}
                    <a class="nav-item nav-link{% if active_nav == 'login' %} active{% endif %}" href="{% url 'account:login' %}">Login</a>
                    {% endif %}
                </div>
                <a class="navbar-brand" href="{% url 'index' %}">Insekta</a>
            </div>
        </nav>
{% endblock nav %}
{% block precontent %}{% endblock %}
        <div class="container">
        {% block breadcrumb %}{% endblock %}
        <noscript>
            <p class="alert alert-danger">
            {% trans "Please enable JavaScript. Don't worry, we won't set your CPU on fire with snowflakes on this page." %}
            </p>
        </noscript>

        {% if messages %}
        {% for message in messages %}
        <p class="alert{% if message.tags %} {{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
        {% endif %}

        {% if user.is_authenticated %}
        {% num_new_questions_answered user as num_answered %}
        {% if num_answered %}
        {% url 'scenariohelp:my_questions' as my_questions_url %}
        <p class="alert alert-success">
        {% blocktrans %}<strong>Hooray!</strong> Someone answered one of <a href="{{ my_questions_url }}">your questions</a>.{% endblocktrans %}
        </p>
        {% endif %}
        {% endif %}

{% block content %}{% endblock %}
        </div>
{% block postcontent %}{% endblock %}
    <script type="text/javascript" src="{% static 'js/insekta.min.js' %}"></script>
{% block additional_scripts %}{% endblock %}
    </body>
</html>

