**/__pycache__
*.min.css
*.min.js
*.mo
insekta/insekta/settings.py
insekta/testenv
insekta/insekta/base/static/components
insekta/insekta/base/static/js/bootstrap.js
insekta/insekta/base/static/js/insekta.js
insekta/insekta/scenarios/static/scenarios/css/pygments.css
insekta/.sass-cache/
insekta/db.sqlite3
insekta/insekta/base/static/css/bootstrap.css
insekta/insekta/base/static/css/insekta.css
insekta/node_modules/
insekta/package-lock.json
insekta/package.json
insekta/_media/
venv/
