{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Your certificates' %}{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans 'Home' %}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'account:index' %}">{% trans 'Account' %}</a></li>
    <li class="breadcrumb-item active">{% trans 'Certificates' %}</li>
</ol>
{% endblock %}

{% block content %}
{% include 'account/nav.html' with tab='pki' %}
<h2>{% trans 'Your certificates' %}</h2>

{% url 'vpn:index' as vpn_link %}
{% if valid_certificate %}
<p class="alert alert-info">
{% blocktrans %}You have a valid certificate. You should now go and <a href="{{ vpn_link }}">configure VPN</a>{% endblocktrans %}.
</p>
{% endif %}

{% if certificates %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>{% trans 'Fingerprint (SHA256)' %}</th>
            <th>{% trans 'Expire date' %}</th>
            <th>{% trans 'Status' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for certificate in certificates %}
        <tr>
            <td>{{ certificate.fingerprint }}</td>
            <td>{{ certificate.expires|date:'SHORT_DATE_FORMAT' }}</td>
            <td>
            {% if certificate.is_revoked %}
            <span class="label label-warning">Revoked</span>
            {% elif certificate.is_expired %}
            <span class="label label-warning">Expired</span>
            {% else %}
            <span class="label label-success">Active</span>
            {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if valid_certificate %}
<form method="post" action="{% url 'pki:revoke_certificate' %}">
    {% csrf_token %}
    <input type="hidden" name="fingerprint" value="{{ valid_certificate.fingerprint }}">
    <p><button class="btn btn-warning">Revoke active certificate</button></p>
</form>
{% endif %}

{% else %}
<p>{% blocktrans %}You don't have any certificates yet. If you want to connect to the VPN you have create one.{%  endblocktrans %}</p>
{% endif %}

{% if not valid_certificate %}
<p>
    <form method="post" action="{% url 'pki:create_certificate_auto' %}" style="display:inline;">
        {% csrf_token %}
        <button class="btn btn-primary">{% trans 'Create certificate' %}</button>
    </form>
    <a href="{% url 'pki:create_certificate' %}" class="btn btn-default">
    {% trans 'Submit CSR (for experts)' %}
    </a>
</p>
{% endif %}
{% endblock content %}
