{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Revoke certificate' %}{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans 'Home' %}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'account:index' %}">{% trans 'Account' %}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'pki:index' %}">{% trans 'Certificates' %}</a></li>
    <li class="breadcrumb-item active">{% trans 'Revoke certificate' %}</li>
</ol>
{% endblock %}

{% block content %}
{% include 'account/nav.html' with tab='pki' %}
<h2>{% trans 'Revoke certificate' %}</h2>
<p>
{% blocktrans with fingerprint=certificate.fingerprint %}
Do you really want to revoke the certificate with the fingerprint <strong>{{ fingerprint }}</strong>?
{% endblocktrans %}
</p>

<form method="post">
    {% csrf_token %}
    <input type="hidden" name="fingerprint" value="{{ certificate.fingerprint }}">
    <input type="hidden" name="really" value="1">
    <p>
        <button class="btn btn-warning">{% trans 'Yes, revoke it' %}</button>
        <a class="btn btn-default" href="{% url 'pki:index' %}">{% trans 'No, please not' %}</a>
    </p>
</form>

{% endblock content %}
