{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'More about ethics' %}{% endblock %}

{% block content %}
<h2>{% trans 'Ethics in computer security and computer science in general' %}</h2>

{% blocktrans %}
<p>We still have to collect some arguments and resources for further reading.</p>
{% endblocktrans %}

<h3>{% trans 'Some links' %}</h3>
{% blocktrans %}
<ul>
    <li>
        <a href="http://cpsr.org/">Computer professionals for social responsibility</a>
        — Global organisation which promotes the responsible use of computer technology
    </li>
    <li>
        <a href="http://fiff.de/">Forum InformatikInnen für Frieden und gesellschaftliche
        Verantwortung</a> — German association with similar topics as the CPSR.
    </li>
    <li>
        <a href="https://ccc.de/de/hackerethik">Hacker ethics</a> on the website of the
        <a href="https://ccc.de/">Chaos Computer Club</a>
    </li>
</ul>
{% endblocktrans %}

{% if user.is_authenticated and not user.accepted_ethics %}
<p><a href="{% url 'ethics:view' %}" class="btn btn-primary">{% trans "Take me back." %}</a></p>
{% endif %}
{% endblock content %}
