{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Account' %}{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans 'Home' %}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'account:index' %}">{% trans 'Account' %}</a></li>
    <li class="breadcrumb-item active">{% trans 'Overview' %}</li>
</ol>
{% endblock %}

{% block content %}
{% include 'account/nav.html' with tab='account' %}

<h2>{% blocktrans with username=user.get_full_name %}Hello, {{ username }}!{% endblocktrans %}</h2>
{% endblock content %}
