{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Login</h2>

<form method="post">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <div class="alert alert-danger">{{ form.non_field_errors.0 }}</div>
    {% endif %}
    <div class="mb-3{% if form.errors.username %} has-error has-feedback{% endif %}">
        <label for="id_username">{% trans 'Username' %}</label>
        {% render_field form.username class+="form-control" %}
    </div>
    <div class="mb-3{% if form.errors.password %} has-error has-feedback{% endif %}">
        <label for="id_password">{% trans 'Password' %}</label>
        {% render_field form.password class+="form-control" %}
    </div>
    <p><button class="btn btn-primary">{% trans 'Sign in' %}</button></p>
</form>

{% endblock content %}
