{% load i18n %}
<div class="nav nav-tabs mb-3">
    <a class="nav-item nav-link{% if tab == 'account' %} active{% endif %}" href="{% url 'account:index' %}">{% trans 'Account' %}</a>
    <a class="nav-item nav-link{% if tab == 'pki' %} active{% endif %}" href="{% url 'pki:index' %}">{% trans 'Certificates' %}</a>
    <a class="nav-item nav-link{% if tab == 'vpn' %} active{% endif %}" href="{% url 'vpn:index' %}">{% trans 'VPN' %}</a>
    <a class="nav-item nav-link{% if tab == 'my_questions' %} active{% endif %}" href="{% url 'scenariohelp:my_questions' %}">{% trans 'My questions' %}</a>
    <a class="nav-item nav-link{% if tab == 'configure_help' %} active{% endif %} "href="{% url 'scenariohelp:configure_help' %}">{% trans 'Configure help' %}</a>
</div>
