{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans 'Registration' %}{% endblock %}

{% block content %}
    <h2>{% trans 'Registration' %}</h2>

    <form method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="alert alert-danger">{{ form.non_field_errors.0 }}</div>
        {% endif %}
        <div class="form-group{% if form.errors.username %} has-error has-feedback{% endif %}">
            <label for="id_username">{% trans 'Username' %}</label>
            {% render_field form.username class+="form-control" %}
            {% if form.username.errors %}
            <p class="help-block">{{ form.username.errors.0 }}</p>
            {% endif %}
        </div>
        <div class="form-group{% if form.errors.email %} has-error has-feedback{% endif %}">
            <label for="id_email">{% trans 'Email' %}</label>
            {% render_field form.email class+="form-control" %}
            {% if form.email.errors %}
                <p class="help-block">{{ form.email.errors.0 }}</p>
            {% endif %}
        </div>
        <div class="form-group{% if form.errors.first_name %} has-error has-feedback{% endif %}">
            <label for="id_first_name">{% trans 'First name' %}</label>
            {% render_field form.first_name class+="form-control" %}
        </div>
        <div class="form-group{% if form.errors.last_name %} has-error has-feedback{% endif %}">
            <label for="id_last_name">{% trans 'Last name' %}</label>
            {% render_field form.last_name class+="form-control" %}
        </div>
        <div class="form-group{% if form.errors.password1 %} has-error has-feedback{% endif %}">
            <label for="id_password1">{% trans 'Password' %}</label>
            {% render_field form.password1 class+="form-control" %}
        </div>
        <div class="form-group{% if form.errors.password2 %} has-error has-feedback{% endif %}">
            <label for="id_password2">{% trans 'Confirm password' %}</label>
            {% render_field form.password2 class+="form-control" %}
            {% if form.password2.errors %}
                <p class="help-block">{{ form.password2.errors.0 }}</p>
            {% endif %}
        </div>
        <div class="form-group{% if form.errors.invitation_code %} has-error has-feedback{% endif %}">
            <label for="id_invitation_code">{% trans 'Invitation code' %}</label>
            {% render_field form.invitation_code class+="form-control" %}
            {% if form.invitation_code.errors %}
                <p class="help-block">{{ form.invitation_code.errors.0 }}</p>
            {% endif %}
        </div>
        <p><button class="btn btn-primary">{% trans 'Register' %}</button></p>
    </form>

{% endblock content %}
