#welcome-header {
    background:url(../images/background.jpg);
    background-position:center;
    background-repeat:repeat-x;
    color:#fff;
    padding:10px;
}

#welcome-header a {
    color:#a0ebff;
}

.navbar-brand {
    background:url(../images/insekta-32.png) no-repeat left center;
    padding-left:40px;
}

.popover-title h3 {
    font-size:14px;
    padding:8px 14px;
    margin:0;
}

.user i.fa-user {
    color:#aaa;
}

.lessimportant {
    color:#aaa;
}

.highlighttable pre {
    padding:5px;
}
